<div>
    <h4 class="text-center">Pregunta Nueva</h4>
</div>

<form action="">   
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Título pregunta</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Título">
    </div>
    <select class="form-select" aria-label="Default select example">
        <option selected>Categoría</option>
        <option value="1">Programación</option>
        <option value="2">Seguridad Informática</option>
        <option value="3">TCP/IP</option>
      </select>
    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Pregunta</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Registrar pregunta</button>
</form>
