<div class="container">
  <footer class="posicionBaraInferior ">
    <div >
      <div class="row colorTextoTitulo " >
        <div class="col-xs-12 col-md-6">
          <h6 class=" colorTextoTitulo ">Desarrollado por:</h6>
          <h6 class="colorTextoTitulo">
            Sebastian Rueda<br>
            David Moreno<br>
            Rodman Iñiguez<br><br>
            Ecuador-Quito-Pichincha.<br>
          </h6>
        </div>
        <div class="col-xs-12 col-md-6">
          <div class="pull-right">
            <h6 class="colorTextoTitulo">ENCUENTRANOS EN LAS REDES</h6>
            <div class="redes-footer">
              <a href="https://www.facebook.com/"><img src="./assets/Imagenes/iconos-redes/face.png" class="iconos"></a>
              <a href="https://twitter.com/"><img src="./assets/Imagenes/iconos-redes/twiiit.png" class="iconos-twitter"></a>
              <a href="https://www.youtube.com/"><img src="./assets/Imagenes/iconos-redes/youtube.png" class="iconos"></a>
            </div>
          </div>
          <div class="row"> <p class="colorTextoTitulo">desarrolladores @2021.<br> Todos los derechos reservados.</p></div>



        </div>
      </div>
    </div>


  </footer>
</div>

