.fondoMedio{
  background-color: rgb(25, 118, 210);
}

.colorTextoMenu{
  color: black !important;
}

.titulo{
  background-color: #5795b0;
  margin-top: 40px;
  margin-bottom: 30px;
  height: 55px;
  position: relative;
  width: 440px;
  left: 490px;

}
.colorTextoTitulo{
  color: #ffffff !important;
  background-color: #1976d2;
}


.iconos{
  width: 5%;
}
.iconos-twitter{
  width: 7%;
}
.iconos2{
  width: 90%;
  background-color: rgba(255, 252, 252, 0.5);
}
.posicionBaraInferior{
  margin-bottom: 0px!important;
  position: static;
}
