<nav class="navbar navbar-expand-lg navbar-light fondo alert-primary ">

  <div class="container-fluid container">
    <div>
      <a title="logo" href="#"><img src="../../assets/Imagenes/logo2.png" alt="logo" class="circle-link"></a>
    </div>


    <a class="navbar-brand texto" href="#">IKEJAS</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active texto" [routerLink]="['preguntas']" aria-current="page">Preguntas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active texto" [routerLink]="['pregunt-nueva']" aria-current="page">Pregunta Nueva</a>
        </li>
        <li>
          <a class="nav-link active texto" [routerLink]="['responder-pregunta']" aria-current="page">Responder
            preguntas</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle texto" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            MAS
          </a>
          <ul class="dropdown-menu" aria-labelledby="Opciones">
            <li><a class="dropdown-item">Responder** pregunta</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>


      </ul>

    </div>
  </div>
</nav>